.fav-mov-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fav-list {
  width: 60%;
  height: 80%;
  background-color: green;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: scroll;
  border-radius: 5px;
}
.fav-list::-webkit-scrollbar {
  width: 10px;
}
.fav-list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}
.no-fav {
  width: 60%;
  height: 80%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
